.page-container {
    width: 95%;
    margin: 0 auto;
    background-color: $color-main-background;
//    border: 28px solid $main-border-color;
//    border-top-width: 0;
//    border-bottom-width: 40px;
    box-shadow: 7px 0 5px -4px $color-main-orange-shadow;
    .container {
        box-shadow: 9px 0 5px -6px $color-grey-white;
        border-left: $border-style;
        border-right: $border-style;
    }
}


.container {
    width: 900px;
//    width: 70%;
    margin: 0 auto;
//    border: 1px solid red;
    background-color: #fff;
}


