//******************FONTS*************************
@font-face {
    font-family: 'lunchtype22light';
    src: url('../fonts/lunchtype22-light.woff2') format('woff2'),
         url('../fonts/lunchtype22-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lunchtype22regular';
    src: url('../fonts/lunchtype22-regular.woff2') format('woff2'),
         url('../fonts/lunchtype22-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lunchtype24expanded_regular';
    src: url('../fonts/lunchtype24-regular-expanded.woff2') format('woff2'),
         url('../fonts/lunchtype24-regular-expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lunchtype22medium';
    src: url('../fonts/lunchtype22-medium.woff2') format('woff2'),
         url('../fonts/lunchtype22-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lunchtype24expanded_medium';
    src: url('../fonts/lunchtype24-medium-expanded.woff2') format('woff2'),
         url('../fonts/lunchtype24-medium-expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'alegreyaitalic';
    src: url('../fonts/alegreya-italic.woff2') format('woff2'),
         url('../fonts/alegreya-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}