header {
    background-color: #fff;
    width: 100%;
    //    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 19px;
    @include mobiles {
        padding-top: 10px;
        padding-bottom: 0;
    }
    .container {
        border: 0;
        box-shadow: 0 0 0 0;
        @include mobiles {
            padding-bottom: 0;
        }
        //        width: 67%;
        div {
            display: inline-block;
        }
    }
    h3 {
        display: inline-block;
        font-size: 29px;
        font-family: $main-sans-serif-font;
    }
        p {
            //    border: 1px solid blue;
            font-family: $main-serif-font;
            display: inline-block;
            float: right;
            margin-top: 9px;
    }
}

.left-arrow {
    //    float: left;
    //    margin-left: 65px;
    position: absolute;
    //    display: inline-block;
    width: 40px;
    height: 40px;
    left: -145px;
    color: $color-grey-light;
    border: 1px solid $color-grey-light;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-family: Courier, sans-serif;
    border-radius: 50%;
    @include tablets {
        position: static;
        margin-right: 45px;
    }
    @include mobiles {
        height: 26px;
        width: 26px;
        font-size: 25px;
        line-height: 26px;
    }
    &:hover {
        background-color: $color-grey-light;
        color: #fff;
        cursor: pointer;
    }
}


.header-title-box {
    position: relative;
    width: 46%;
    @include tablets {
        padding-left: 25px;
    }
}


.plus-mark {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #0266b3;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 27px;
    font-family: "Palatino", serif;
    margin-left: 28px;
    font-weight: 100;
    @include hoverEffect;
}


.sorting-choice {
    font-family: "lunchtype22regular", sans-serif;

    //dopisz style
}

input[type="radio"] {
    margin-left: 26px;
}


.sorting-choice {
    margin-left: 7px;
    color: $color-blue-dark;
    font-weight: bold;
    &:active {
        text-decoration: underline;
        color: $color-grey-light;
    }
    &:hover {
        opacity: 0.5;
    }
    &:first-child {
        margin-right: 7px;
    }
}


.search-input {
    width: 73%;
    height: 33px;
    margin-top: 20px;
    padding-left: 14px;
    border: 1px solid $color-grey-white;
    background-color: $color-main-background;
    margin-right: 13px;
}

.search-btn {
    height: 33px;
    width: 25%;
    border: 1px solid $color-grey-blue;
    color: $color-grey-light;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
}