@mixin acivitiesFontStyle {
   text-align: center;
    color: $color-grey-dark;
    font-weight: 800;
    font-family: $main-serif-font;
    letter-spacing: 1px;
    font-size: 14px;
    span {
        font-family: $main-sans-serif-font, sans-serif;
        font-size: 16px;
        font-weight: 100;
        padding-right: 2px;
    }
}

@mixin hoverEffect {
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

@mixin tablets {
//    @media screen and (max-width: 765px) {
    @media screen and (max-width: 915px) {
        @content;
    }
}

@mixin tabletsOnly {
//    @media screen and (max-width: 765px) {
    @media screen and (max-width: 915px) and (min-width: 651px) {
        @content;
    }
}

@mixin mobiles {
    @media screen and (max-width: 650px) {
//    @media screen and (max-width: 700px) {
        @content;
    }
}
 
