.modal-footer {
    width: 100%;
    background-image: url(../items/skelatal_weave.png);
    margin-top: 40px;
    position: relative;
    padding-top: 3px;
    padding-bottom: 25px;
    @include mobiles {
        padding-bottom: 55px;
    }
    .user-photo {
        position: absolute;
        left: 47%;
        top: -26px;
    }
    p {
        font-size: 11px;
        margin-bottom: 2px;
        span {
            padding-right: 6px;
        }
    }
    h4 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 25px;
    }
}


.footer-statistics-container {
    display: flex;
    justify-content: space-around;
    width: 67%;
    margin: 0 auto;
    flex-wrap: wrap;
    @include tabletsOnly {
        width: 80%;
    }
    @include mobiles {
        height: 55px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
    }
}


.footer-statistics-box {
    @include acivitiesFontStyle;
    span {
        padding-right: 6px;
        font-weight: bold;
    }
    &:nth-child(3) {
        @include mobiles {
            order: 3;
        }
    }
}



