.single-question-box {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 55px;
    border-top: 0;
    .question-box-header {
        width: 100%;
        @include mobiles {
            //            border-top: 1px solid $color-grey-light;
            box-shadow: 0 8px 7px -7px $color-grey-light inset;
        }
        @include mobiles {
            padding: 0;
        }
        p {
            padding-left: 95px;
            @include mobiles {
                padding: 35px 0 26px 85px;
            }
        }
    }
    .user-photo {
        position: absolute;
        left: 2%;
        top: 20px;
    }
    h4 {
        padding-left: 95px;
        @include mobiles {
            padding: 10px;
            padding-left: 20px;
            border-top: 1px solid white;
            text-align: center;
        }
    }
}


.unfollow-btn {
    position: absolute;
    top: 35px;
    right: 70px;
    font-weight: bold;
    color: $color-blue-dark;
    height: 20px;
    @include hoverEffect;
    @include tabletsOnly {
        right: 40px;
    }
    @include mobiles {
        top: 0;
        right: 0;
        bottom: 45px; // it doesn't work. I have no idea why...
        left: 15px;
    }
}


.question-background {
    width: 100%;
    display: flex;
    @include mobiles {
        display: block;
    }
}


.blue-block {
    width: 11%;
    background-color: $color-blue-light;
    @include mobiles {
        display: none;
    }
}


.longer-text {
    padding: 24px 0px 37px 22px;
    width: 66%;
    font-size: 13px;
    line-height: 18px;
    font-weight: 800;
    color: $color-grey-blue-lighter;
    @include mobiles {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}


.votes-box {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    @include mobiles {
        justify-content: flex-end;
        padding: 10px 15px 40px 0;
    }
    p {
        @include acivitiesFontStyle;
        padding-top: 5px;
    }
}


.voting-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 28px;
    @include hoverEffect;
}


.arrow-up {
    border-bottom: 10px solid $color-blue-dark;
    margin-bottom: 12px;
}


.arrow-down {
    border-top: 10px solid $color-blue-dark;
}


.respond-btn {
    position: absolute;
    border: 2px solid $color-grey-white;
    bottom: -16px;
    left: 40%;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
    width: 186px;
    background-color: #fff;
    color: $color-almost-black;
    &:hover {
        background-color: $color-blue-light;
        cursor: pointer;
    }
    @include mobiles {
        left: 34%;
    }
}

