.page-container {
    width: 95%;
    margin: 0 auto;
    background-color: $color-main-background;
    -webkit-box-shadow: 7px 0 5px -4px $color-main-orange-shadow;
    box-shadow: 7px 0 5px -4px $color-main-orange-shadow;
    border-bottom: 1px solid $color-main-background;
     @include tablets {
        width: 100%;
    }
}


.container {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 9px 0 5px -6px $color-grey-white;
    box-shadow: 9px 0 5px -6px $color-grey-white;
    border-left: $border-style;
    border-right: $border-style;
     @include tablets {
        width: 100%;
    }  
}


