
/*
.pagination-btn-container {
    margin-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}


.pagination-btn {
    text-decoration: none;
    color: #e1173f;
    font-size: 18px;
    font-weight: 800;
    @include hoverEffect;
}
*/

