/*.modal-navigation-container {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/


/*.modal-arrow {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-family: "Courier", serif;
    color: #fff;
    font-size: 27px;
    line-height: 30px;
    background-color: $color-grey-light;
}


.arr-left {
    padding-left: 5px;
}


.arr-right {
    padding-left: 8px;
}*/


/*.activeArrow {
    background-color: $color-blue-dark;
    @include hoverEffect;
}*/


/*.statistics-squares-container {
    width: 72%;
    margin: 42px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include mobiles {
        width: 220px;
    }
}*/

/*

.statistics-square {
    height: 90px;
    width: 90px;
    background-color: $color-blue-light;
    display: flex;
    align-items: center;
    color: $color-almost-black;
    &:first-child, &:nth-child(3) {
        transform: rotate(-40deg);
        .statistics-square-content {
            transform: rotate(40deg);
        }
    }
    &:nth-child(2) {
        transform: rotate(-10deg);
        .statistics-square-content {
            transform: rotate(10deg);
        }
    }
     &:last-child {
        transform: rotate(10deg);
        .statistics-square-content {
            transform: rotate(-10deg);
        }
    }
}
*/

/*.statistics-square-content {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    margin: 0 auto;
    font-family: $main-serif-font;
    letter-spacing: 1.5px;*/
/*
    span {
        font-family: $main-sans-serif-font, sans-serif;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 4px;
        letter-spacing: 1px;
    }
}
*/


/*.modal-user-container {
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    @include mobiles {
        width: 80%;
    }
}*/


/*
.user-photo-frame {
    height: 90px;
    width: 90px;
    background-image: url(../items/skelatal_weave.png);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
*/



