@import "fonts";


// **********COLORS**************


$color-main-orange: #ffe1ad;
$color-main-orange-shadow: #edd1a0;
$color-main-background: #fbfbfb;
$color-blue-dark: #0266b3;
$color-blue-light: #dff3fd;
$color-grey-white: #eeeeee;
$color-grey-blue: #7d8ba1;
$color-grey-dark: #40515b;
$color-almost-black: #2d2c2e;
$color-grey-light: #a7a9ac;
$color-grey-blue-lighter: #586d7f;




// **********FONTS**************

$main-sans-serif-font: lunchtype22medium, sans-serif;
$sans-serif-medium-font: lunchtype24expanded_medium, sans-serif;
$main-serif-font: alegreyaitalic, serif;



$border-style: 1px solid $color-grey-white;
